.vs/
Options Pattern/bin/
Options Pattern/obj/Options Pattern.csproj.nuget.dgspec.json
Options Pattern/obj/
/Options Pattern/Options Pattern.csproj.user
/Dapper-Crud-App/bin/Debug/net5.0
/Dapper-Crud-App/obj/Debug/net5.0
/Dapper-Crud-App/obj
*.user
/CodeSnippetts/obj
/CodeSnippetts/bin/Debug/net8.0
/HangFIre/obj
/HangFIre/bin/Debug/net6.0
/HangFIre/bin/Debug/net8.0
/GrpcClient/bin/Release/net8.0
/GrpcClient/obj
/HangFIre/bin/Release/net8.0
/CodeSnippetts/bin/Release/net8.0
/Dapper-Crud-App/bin/Release/net5.0
/GrpcClient/bin/Debug/net8.0
